*{
    margin: 0;
    font-family:inherit,Arial, Helvetica;
    background-color:aliceblue;
}
nav {
    display: block;
    background-color: rgb(209, 29, 29);
    height: 10%;
}
nav img{
width:20%;
height: auto;
background-color: rgb(209, 29, 29);
}