*{
    margin: 0;
    font-family:inherit,Arial, Helvetica;
    background-color:aliceblue;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(209, 29, 29);
    height: 5%;
   
}
nav>a{
    text-decoration-line: none;
    margin:10px;
    background-color: rgb(209, 29, 29);
    color:white;
    padding: 8px;
    font-size: 30px;
    
}
h2{
    font-size:40px;
    background-color: rgba(75, 74, 74, 0.973);
    color: rgb(229, 240, 240);
}
a >img{
width: 170px;
height: 8%;
background-color: rgb(209, 29, 29);
}
nav button{
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    border: 1px solid white;
}
nav button:hover{
    color: #fcfcfc;
    background-color: rgb(209, 29, 29);
}
.jumbotron{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    background-color:rgba(32, 31, 31, 0.973) ;
}
.jumbotron-titulo{
    background-color: #fcfcfc1c;
    color: rgb(8, 8, 8);
    padding: 10%;
}
#correo{
    border: 2px solid rgb(255, 255, 255);
    margin-top:20px;
    width: 75%;
    height: 10%;
}
.jumbotron button{
    width: 20%;
    height: 13%;
    color:#fcfcfc;
    background-color: rgb(209, 29, 29) ;
    border:1px solid rgb(255,255,255);
}
.jumbotron button:hover{
    background-color: #fcfcfc;
    color:black;
}
.jumbotron img {
    width: 50%;
}

.catalogo-titulo{
    display: block;
    text-align: center;
    width: 100%;
    height: 50%;
    
}
.contenedores{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.contenedor{
    width: 20%;
    background-color:  rgb(248, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
}
.contenedor img{
    width:70% ;
    height: 70%;
    border-radius: 50%;
}
.contenedor ul{
    list-style-type: none;
    background-color:  rgb(248, 4, 4);
   
}
.contenedor li{
    list-style-type: none;
    opacity: 10;
    background-color: rgb(248, 4, 4);
    text-align: -webkit-match-parent;
}
section{
    width: 100%;
    
}
.extra{
    display:flex;
    justify-content: flex-start;
    width: 100%;
    padding: 25px 0px 25px 0;
    
    
}
.extra h2{
    display: flex;
    margin: 32px;
    justify-content: center;
    width: 100%;
}
 
.extra img{
    width: 70%;
}
.testimonio{
    display: flex;
    align-items: center;
    
}
footer{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    
    
}
#columna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
footer a{
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    
}
@media (max-width: 900px) {
    .extra{
        flex-direction: column;
        align-items: center;
    }
    .extra img{
        width: 100%;
    }
  }
  @media (max-width: 768px) {
    .contenedores{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedor{
        width: 100%;
        padding: 5%;
        margin: 0.5%;
    }
  }
  @media (max-width: 550px) {
    .jumbotron{
        flex-direction: column;
    }
    .jumbotron img{
        width: 95%;
    }
    nav{
        flex-direction: column;
        align-items:center;
    }
  }